<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/core/tailwind.css">
  {{ if .IsHome -}}
    <title>{{ $.Site.Params.HomeTitle}} - {{ .Site.Title }}</title>
    <meta name="title" content="{{ .Site.Title | emojify }}" />
  {{- else -}}
    <title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
    <meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
  {{- end }}

  {{/* Theme Support */}}
  {{ $assets := newScratch }}
  {{ $theme := resources.Get (printf "theme/%s.css" (.Site.Params.theme | default "flexwind")) }}
  {{ if not $theme }}
    {{ $theme = resources.Get "theme/flexwind.css" }}
  {{ end }}

  {{/* Finalizing and Concat CSS */}}
  {{ $assets.Add "css" (slice $theme) }}
  {{ $finalCSS := $assets.Get "css" | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link
    type="text/css"
    rel="stylesheet"
    href="{{ $finalCSS.RelPermalink }}"
    integrity="{{ $finalCSS.Data.Integrity }}"
  />
</head>